img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  width: 200px;
}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  text-align: center;
}
td {
  margin:auto;
  text-align: center;
}
img{
  border-radius: 50%;
}
ol > li {
  list-style-type: decimal;
  list-style-position: inside;
}

ul > li {
  list-style-type: disc;
  list-style-position: inside;
}
.container {
  width: 90%;
  margin: auto;
  padding: 10px;
}
.left {
  display: inline-block;
}
.right {
  display: inline-block;
}
.horizontal {
  display: inline-block;
}
td > h2, td > h3 {
  display:block;
  visibility:hidden;
  text-align: center;
  margin:auto;
  
}
#correct {
  background-color: green;
}

#wrong {
  background-color: red;
}
#correctCount {
  text-align: center;
}